.App {
  text-align: center;
  margin: 20px;
}

.property-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.property-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px; /* Adjust the width as needed */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.property-card img {
  max-width: 100%;
  border-radius: 5px;
}

.property-card h3 {
  font-size: 1.2em;
}

.property-card p {
  margin: 5px 0;
}
